.App {
  text-align: center;
  background: linear-gradient(to right, #ff8080, #e6005c);
  height: 100%;
  min-height: 100vh;
  margin: 0;

  h1 {
    text-align: center;
    margin: 0;
    padding-top: 22%;
    font-size: 55px;
  }

  h3 {
    text-align: center;
  }
}
